body {
    background-color: rgb(106, 0, 92);
  }

  h1 {
    color: white;
    text-align: center;
  }
  h4 {
    color: white;
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: left;
    color: white;
  }
  
  body {
    color: white;
  }

  p {
    font-family: verdana;
    font-size: 40px;
  }


  ul {

  }
